<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
 
 <div class="modal-footer">
  <%= link_to 'Show all products', products_path %>
 </div>

